<!DOCTYPE html>
<html>
<head>
<style>
.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > button {
  background-color: #f1f1f1;
  width: 400px;
  margin: 50px;
  text-align: center;
  line-height: 275px;
  font-size: 30px;
  padding :0%;
}
.Back
{
    background-color: #ffffff;
    position:absolute;
    width:400px;
    height:150px;
    background:#063;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
    font-size: 30px;
    color:white
}
h1
{
    text-align: center;
}
</style>
</head>
<body>
<h1>Kies je Schilderij</h1>

<div class="flex-container">
  <button type="button" onclick="window.location.href='{{ url_for('leds',number=6)}}';" onmouseover="this.style.background='lightblue';"onmouseout="this.style.background='#f1f1f1';">De Mona Lisa</button>
  <button type="button" onclick="window.location.href='{{ url_for('leds',number=7)}}';" onmouseover="this.style.background='lightblue';" onmouseout="this.style.background='#f1f1f1';">Het laatste Avondmaal</button>
  <button type="button" onclick="window.location.href='{{ url_for('leds',number=8)}}';" onmouseover="this.style.background='lightblue';" onmouseout="this.style.background='#f1f1f1';">De Nachtwacht</button>  
</div>
<button class="Back" onclick="window.location.href='{{ url_for('home')}}';"onmouseover="this.style.background='lightblue';"onmouseout="this.style.background='#063';">Terug Naar HoofdPagina</button> 
</body>
</html>

